#map1 {
    position: relative;
    top: 200px;
    left: 200px;
    width: 100px;
    height: 100px;
}
#map2 {
    position: relative;
    top: 100px;
    left: 500px;
    width: 100px;
    height: 100px;
}
